<%= form_for(@post) do |post_form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="span8" style="
  	text-align: left;
  	margin-top: 30px;
  	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding-left: 30px;">
	<table>
  <tr>
    <td><%= post_form.label :titulo %></td>
	<td style="form-staked"><%= post_form.text_field :titulo %></td>
  </tr>
  <tr>
  <tr>
    <td><%= post_form.label :avances %></td>
    <td><%= post_form.text_field :avances %></td>
  </tr>
 <tr>
    <td><%= post_form.label :terminado %></td>
    <td><%= post_form.check_box :terminado %></td>
  </tr>
  <tr>
    <td><%= post_form.label :nivel %></td>
    <td><%= post_form.text_field :nivel %></td>
  </tr>
   <tr>
    <td><%= post_form.label :commentarios %></td>
    <td style="max-height:  10px"><%= post_form.text_area :commentarios, :style => "height: 80px" %></td>
  </tr>
  <tr>
    <td><%= post_form.label :recomendacion%></td>
    <td><%= post_form.text_area :recomendacion, :style => "height: 10px" %></td>
  </tr>
  <tr>
    <td style="margin-left: 40px"><%= post_form.submit "Postear" , :class => "btn primary"%></td>
  </tr>
  </table>
</div>
<% end %>
