<!DOCTYPE html>
<html>
<head>
  <title>Quelees</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js">
</script>

<script type="text/javascript">
   FB.init({
      appId: "271615169549029",
      cookie: true,
      status: true,
      xfbml: true
   });
</script>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if current_user -%>
  <%= link_to_function "logout [#{current_user.name}]", 'App.logout()' %>
<% else -%>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>

<%= yield %>

</body>
</html>
